@tailwind base;
@tailwind components;
@tailwind utilities;

.button-detail {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.button-secondary {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
}

.button-danger {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.button-success {
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
}

.button-disabled {
    @apply bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded cursor-not-allowed;
}

.status-Draft {
    @apply text-yellow-800 font-semibold px-2 py-1 rounded;
}

.status-Diproses {
    @apply text-blue-800 font-semibold px-2 py-1 rounded;
}

.status-Completed {
    @apply text-green-800 font-semibold px-2 py-1 rounded;
}